html.navigation {
	&-aside {
		height: 100%;

		body {
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-content: flex-start;
			align-items: flex-start;

			> main {
				@include padding(0, 0, 0, 1);
				height: 100%;
				overflow-y: auto;
			}
		}
	}
}

nav ol,
nav ul {
	list-style: none;
	padding: 0;

	> li {
		> ul {
			@include padding(0, 0, 0, 1);
		}
	}
}

nav.navigation {
	color: $color-nav-link-normal-text;
	background-color: $color-nav-bg;
	width: 100%;

	&-aside {
		@include padding(1, 1);
		max-width: $size-s;
		height: 100%;
	}
}
