html.navigation {
	&-vert {
		height: 100%;

		body {
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-content: flex-start;
			align-items: flex-start;

			> main {
				z-index: 1;
				@include padding(1, 0, 0, 1);
				height: 100%;
				overflow-y: auto;
				flex-grow: 1;
			}

			> nav.navigation-vert {
				flex-shrink: 0;
			}
		}
	}
}

nav ol,
nav ul {
	list-style: none;
	padding: 0;
}

nav.navigation {
	z-index: 2;
	color: $color-nav-link-normal-text;
	background-color: $color-nav-bg;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;
	margin: 0 auto;
	width: 100%;
	height: 4rem;
	max-width: $size-xl;
	@include padding(0, 1);

	a {
		color: $color-nav-link-normal-text;
		background-color: $color-nav-link-normal-bg;
		display: block;
		width: 100%;
		height: 100%;
		@include padding(0, .5);
		text-decoration: none;

		&:focus,
		&:hover {
			color: $color-nav-link-hover-text;
			background-color: $color-nav-link-hover-bg;
		}
	}

	ul {
		background-color: $color-nav-bg;
	}

	> .navigation-menu {
		> li {
			&.navigation-menu-item-parent {
				position: relative;

				> .navigation-menu-item-child {
					z-index: 1;
					transition: opacity 250ms;
					@include line-height(1);
					@include padding(0, 0, 0, 1);

					&.collapse {
						padding: 0;
						opacity: 0;
						padding: 0;
						width: 0;
						height: 0;
						overflow: hidden;
					}

					> li {
						white-space: nowrap;
					}
				}

				&:hover {
					> .navigation-menu-item-child.trigger-hover {
						@include padding(.5, .5);
						opacity: 1;
						height: auto;
						width: auto;
					}
				}

				&:target,
				&:focus,
				&:focus-within {
					> a {
						outline: 0;
					}

					> .navigation-menu-item-child.trigger-click {
						@include padding(.5, .5);
						opacity: 1;
						height: auto;
						width: auto;
					}
				}
			}
		}
	}

	&-hor {
		> .navigation-menu {
			@include padding(0, 0, 0, .5);
			flex-grow: 1;
			margin: 0;
			display: flex;
			justify-content: flex-end;

			> li {
				height: 4rem;
				line-height: 4rem;

				> a {
					overflow: hidden;
				}

				> ul {
					position: absolute;
					top: 100%;
					right: 0;
					@include shadow(0);

					&:hover {
						@include shadow(1);
					}
				}
			}
		}
	}

	&-vert {
		> .navigation-menu {
			> li {
				> ul {
					position: relative;
					top: 0%;
					left: 0;
				}
			}
		}
	}

	.navigation {
		&-logo {
			margin: 0;
			flex-shrink: 1;
			word-break: break-all;
			width: auto;
			height: 4rem;
			overflow: hidden;
		}
	}

	&-vert {
		@include padding(1, 1);
		max-width: 18rem;
		height: 100%;
		flex-direction: column;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;

		&-left {
			order: -1;
		}

		&-right {
			order: 999;
		}
	}
}

// Hide nav toggle on desktop
#navigation-toggle,
#navigation-toggle-button,
#navigation-toggle-backdrop {
	display: none;
}

@media (max-width: $size-m) {
	nav.navigation {
		&-vert {
			position: absolute;
			top: 0;
			transition: transform 250ms;

			&-left {
				transform: translateX(-100%);
				left: 0;
			}

			&-right {
				transform: translateX(100%);
				right: 0;
			}
		}
	}

	html.navigation {
		&-vert {
			&-left {
				#navigation-toggle-button {
					left: 0;
				}
			}

			&-right {
				#navigation-toggle-button {
					right: 0;
				}
			}
		}
	}

	#navigation-toggle {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		width: 1px;
		height: 1px;
		opacity: 0;

		&-button {
			z-index: 3;
			position: fixed;
			top: 0;
			display: block;
			@include padding(.30, .35);

			.open,
			.closed {
				line-height: 1;
			}

			.closed {
				display: none;
			}
		}

		&-backdrop {
			z-index: 2;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: none;
			opacity: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($color-dark, 0.75);
		}

		&:checked {
			& + #navigation-toggle-button {
				.open   { display: none;  }
				.closed { display: block; }
			}

			& ~ #navigation-toggle-backdrop {
				animation: fadeIn 250ms;
				opacity: 1;
				display: block;
			}

			& ~ nav.navigation {
				transform: translateX(0%);
			}
		}
	}
}
