$blue: #b3d4fc;

// Typography
$color-font-body: #222 !default;
$color-font-headings: $color-font-body !default;
$color-font-light: #888 !default;
$color-font-figcaption: $color-font-body !default;

$color-link-normal: $color-font-body;
$color-link-hover: $color-font-body;
$color-link-active: #f00;
$color-link-visited: $color-font-light;
