// Tones & shades
$color-light:  #ffffff;
$color-light1: #f5f7fa;
$color-light2: #dfe1e5;
$color-light3: #c7c7c7;
$color-light4: #999999;
$color-light5: #757575;
$color-dark1:  #6e6e6e;
$color-dark2:  #5f6368;
$color-dark3:  #414549;
$color-dark4:  #2b2b2b;
$color-dark5:  #1b1b1b;
$color-dark:   #000000;

// Grays
$color-gray-cold-light:     #6b7c93;
$color-gray-cold-medium:    #6b7c93;
$color-gray-cold-dark:      #2c3e50;
$color-gray-neutral-light:  $color-light3;
$color-gray-neutral-medium: $color-light5;
$color-gray-neutral-dark:   $color-dark3;
$color-gray-warm-light:     #aca89f;
$color-gray-warm-medium:    #898276;
$color-gray-warm-dark:      #605b53;

// Regular
$color-red:          #fa1d42;
$color-red-light:    lighten($color-red, 33%);
$color-red-dark:     darken($color-red, 33%);
$color-purple:       #b664ff;
$color-purple-light: lighten($color-purple, 33%);
$color-purple-dark:  darken($color-purple, 33%);
$color-blue:         #839bfd;
$color-blue-light:   lighten($color-blue, 33%);
$color-blue-dark:    darken($color-blue, 33%);
$color-green:        #43dab4;
$color-green-light:  lighten($color-green, 33%);
$color-green-dark:   darken($color-green, 33%);
$color-yellow:       #ffd067;
$color-yellow-light: lighten($color-yellow, 33%);
$color-yellow-dark:  darken($color-yellow, 33%);
$color-orange:       #ff8467;
$color-orange-light: lighten($color-orange, 33%);
$color-orange-dark:  darken($color-orange, 33%);

// Special
$color-red-vivid: #fa1d42;
$color-blue-vivid-tint1:  #826afc;
$color-blue-vivid-tint2:  #a290fd;
$color-blue-vivid-tint3:  #c2b7fd;
$color-blue-vivid:        #421dfa;
$color-blue-vivid-shade1: #130264;
$color-blue-vivid-shade2: #0f0251;
$color-blue-vivid-shade3: #08012b;

// Brand
$color-primary-light: $color-red-light;
$color-primary:       $color-red-vivid;
$color-primary-dark:  $color-red-dark;
$color-accent-light:  $color-blue-vivid-tint3;
$color-accent:        $color-blue-vivid;
$color-accent-dark:   $color-blue-vivid-shade1;
$color-success-light: $color-green-light;
$color-success:       $color-green;
$color-success-dark:  $color-green-dark;
$color-error-light:   $color-red-light;
$color-error:         $color-red;
$color-error-dark:    $color-red-dark;
$color-warning-light: $color-orange-light;
$color-warning:       $color-orange;
$color-warning-dark:  $color-orange-dark;
$color-info-light:    $color-blue-light;
$color-info:          $color-blue;
$color-info-dark:     $color-blue-dark;
$color-neutral-light: $color-gray-neutral-light;
$color-neutral:       $color-gray-neutral-medium;
$color-neutral-dark:  $color-gray-neutral-dark;

// Utilities
$color-shadow: $color-blue-vivid-shade1;

// Navigation
$color-nav-bg: $color-light;
$color-nav-link-normal-text: $color-dark1;
$color-nav-link-normal-bg:   $color-nav-bg;
$color-nav-link-hover-text:  $color-light3;
$color-nav-link-hover-bg:    $color-nav-bg;
$color-nav-backdrop-bg:      rgba($color-dark, 0.25);

// Layout
$color-body-bg: $color-light1;

// Typography
$color-font-body:       $color-dark4;
$color-font-headings:   $color-font-body;
$color-font-light:      $color-light5;
$color-font-figcaption: $color-font-body;

$color-link-normal:  $color-font-body;
$color-link-hover:   $color-font-body;
$color-link-active:  $color-red;
$color-link-visited: $color-font-light;

$color-button-default:    $color-font-body;
$color-button-default-bg: $color-body-bg;
