$size-xs:     239px;
$size-xs-up:  240px;
$size-s:      479px;
$size-s-up:   480px;
$size-m:      767px;
$size-m-up:   768px;
$size-l:      1023px;
$size-l-up:   1024px;
$size-xl:     1365px;
$size-xl-up:  1366px;
$size-xxl:    1919px;
$size-xxl-up: 1920px;

@import 'colors';
@import 'typography';
