@import 'config/variables';
@import 'modules/utilities';

@import 'vendor/sanitize';

*,
::before,
::after {
	box-sizing: inherit;
}

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	color: $color-font-body;
	background-color: $color-body-bg;
}

html {
	box-sizing: border-box;
	cursor: default;
	font-size: $font-size;
	font-family: $font-body;
	line-height: $line-height;

	@media screen and (min-width: #{ $size-m-up }) {
		font-size: $font-size-desktop;
		line-height: $line-height;
	}
}

body {
	position: relative;
}

// TODO: USE FOR TABS
*:target {
	background-color: $color-red;
}

@import 'modules/animations';
@import 'modules/typography';
@import 'modules/navigation';
