@import 'config/variables';
@import 'modules/utilities';

@import 'vendor/sanitize';

html,
body {
	margin: 0;
	overflow-x: hidden;
}

html {
	box-sizing: border-box;
	font-size: #{$base + 'px'};
	font-size: #{$base-font-size + '%'};
	font-family: $font-body;
	color: $color-font-body;
	cursor: default;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	@media screen and (min-width: #{ $max-width + 5 + 'em'}) {
		font-size: #{$base-desktop + 'px'};
		font-size: #{$base-font-size-desktop / 100 + 'rem'};
	}
}

body {
	position: relative;
	background-color: $color-body-bg;
	@include line-height(1);

	@media screen and (min-width: #{ $max-width + 5 + 'em'}) {
		$leading: $leading-desktop;
		$leading-rem: $leading-rem-desktop;

		@include line-height(1);
	}
}

img {
	border-style: none;
	max-width: 100%;
	height: auto;
}

// TODO: USE FOR TABS
*:target {
	background-color: $color-light2;
}

@import 'modules/animations';
@import 'modules/typography';
@import 'modules/navigation';
